<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Eat Da Burger</h1>
  </div>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text submit" id="inputGroup-sizing-default">Submit</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>

<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}EAT LATER!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete Order!</button>
</li>
